.title{
  color:green;
  font-family:serif;
}
.jacket p{
  font-size:34px;
  color:red;
  background-color: yellow;
}
.jacket{
  text-align: center;
}

.inori{
  background-image: url(https://ord.yahoo.co.jp/o/image/RV=1/RE=1551947844/RH=b3JkLnlhaG9vLmNvLmpw/RB=/RU=aHR0cDovL2ltYWdlLm5ld3MubGl2ZWRvb3IuY29tL25ld3NpbWFnZS9zdGYvMi85LzI5OTIzZWU3ODY4MTY3NmU0ZjgyZWQyMmNjMzA3N2YxLmpwZw--/RS=%5EADBdIVOpmpk0RKTSdiP_9O9AGdljbQ-;_ylt=A2RinFvEhn9c.3kAYSqU3uV7;_ylu=X3oDMTBrZ3VuNG5oBDADanBjMDAyBHZ0aWQDanBjMDAy;_ylc=X3IDMgRmc3QDMQRpZHgDMARvaWQDQU5kOUdjUXZJcTVzN3IwZW9WRnRzNzJlYTgxMHBEWG82Q1BHS3lXNXl1TndENGt2cnpBSzZRREVZZlNrS3RrLQRwAzVyQzA1NENzNDRHRTQ0R3U0NEtLSUEtLQRwb3MDMQRzZWMDc2h3BHNsawNzZnN0BHR1cmwDaHR0cHM6Ly9tc3AuYy55aW1nLmpwL3lqaW1hZ2U_cT1ocGU5R2FBWHlMSFd6dUk3X2VtQXUwT2JMOHpMeGZfaUw3ZDY4aG5ndURLakNFUU1BLmNnMWltLmdGNXR5LnBORk55aXZrS24zN0xleVpvVVk1ZFg5RGl5bnIxUC5Sb29YTHQzc1Nzb1g5ek1rUUl3bFRmcm9RcUw4RHZoMUg2Q0I1bnJScUxWekdOTFE0RHFjVjhhJnNpZz0xM2F1MHFnY2Y-);
  background-size: cover;
}

.inori-contents{
  height:1000px;
  background: rbga(255,255,255,0.5);
  font-size:28px;
}

.inori-contents h2,h3{
  color:blue;
}

.inori-contents h4{
  font-size:37px
}

.budoukann span{
  color:red;
  font-size:59px;
}
